body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  height: 100vh;
  overflow-y: auto; 
}

.app {
  text-align: center;
  width: 100%;
  max-width: 800px;
  padding: 20px; /* Add some padding for spacing */
  box-sizing: border-box; /* Ensure padding is included in width */
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.search-bar button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #218838;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  /* overflow-y: auto;  */
  max-height: calc(100vh - 150px); /* Prevent overflow pushing header out of view */
  margin-bottom: 50px;
}

.recipe-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe-navigation button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}

.recipe-navigation button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.recipe-card {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  text-align: left;
  box-sizing: border-box; /* Ensure padding is included in width */
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
}
